<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>OS2mo servere teknologioverblik (virturlisering, docker og interfaces)</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>OS2mo servere teknologioverblik (virturlisering, docker og interfaces)</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-technology"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_technology" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/0cc02476-3a5c-4583-a648-43085e1a178a.png" alt="OS2mo servere teknologioverblik (virturlisering, docker og interfaces)" usemap="#0cc02476-3a5c-4583-a648-43085e1a178amap"/>
			   <map name="0cc02476-3a5c-4583-a648-43085e1a178amap">
				  		<area shape="rect" coords="382,10,502,65" href="../elements/90ae1670-60f6-4c77-91c2-bc4a635fdf58.html"  target="element">
				  		<area shape="rect" coords="730,10,922,65" href="../elements/4141e335-4aa7-42d9-bc33-9795131b1b66.html"  target="element">
				  		<area shape="rect" coords="538,10,695,65" href="../elements/caab7d32-2b86-4dd1-94ea-230d594f241b.html"  target="element">
				          <area shape="rect" coords="34,724,335,911" href="../objects/4e517b29-89fd-45c1-8d7f-d19c3609d2a0.html" target="element" >
				  				<area shape="rect" coords="22,70,167,125" href="../elements/65495a5c-6da2-4efa-b01f-f5c7fe21c519.html"  target="element">
				  				<area shape="rect" coords="22,144,167,199" href="../elements/9a303dc1-3f28-4791-8d74-3a8d21797977.html"  target="element">

				  		<area shape="rect" coords="10,34,179,208" href="../elements/b018d1ca-d6ab-4ce1-80f1-65902034539f.html"  target="element">
				  		<area shape="rect" coords="82,349,202,404" href="../elements/88cb2644-a536-4a98-8a52-7c910ac4c3c0.html"  target="element">
				  		<area shape="rect" coords="82,250,202,305" href="../elements/e205c5b6-e9d7-45cb-85a4-1027bf12bcef.html"  target="element">
				  		<area shape="rect" coords="250,340,407,413" href="../elements/79920406-030c-405a-9f21-74119d69aed3.html"  target="element">
				  		<area shape="rect" coords="448,550,568,887" href="../elements/0c01bd60-0ad7-43fd-a798-7e586f7236e5.html"  target="element">
				  		<area shape="rect" coords="442,442,574,515" href="../elements/17d973a7-53c3-4ada-b3ee-ac7f2acd5b23.html"  target="element">
				  		<area shape="rect" coords="742,349,862,404" href="../elements/b447ce1b-7c29-442c-94ce-737d261228a0.html"  target="element">
				  		<area shape="rect" coords="652,442,766,515" href="../elements/34e25b56-5fbd-4ef4-99b3-d93c7ecfdae9.html"  target="element">
				  		<area shape="rect" coords="262,142,418,230" href="../elements/c5b4e445-76b7-4181-b0dd-9d809fb6b9dd.html"  target="element">
				  		<area shape="rect" coords="947,451,1067,506" href="../elements/e0a9aa53-0a6e-40ad-9ee9-32bf52707060.html"  target="element">
				  		<area shape="rect" coords="1018,140,1175,232" href="../elements/84a5da04-2787-4a05-b6e7-b2017bbabd31.html"  target="element">
				  		<area shape="rect" coords="934,349,1079,404" href="../elements/587851d1-36a9-49a3-b612-9d8a2108cef0.html"  target="element">
				  		<area shape="rect" coords="850,736,970,779" href="../elements/f36d418c-e79d-41cd-9f8c-ebed14c2c7bf.html"  target="element">
				  		<area shape="rect" coords="850,862,969,911" href="../elements/30a097fb-d36a-40e8-8f0c-3b030ec85ce9.html"  target="element">
				  		<area shape="rect" coords="850,802,969,851" href="../elements/8449b662-ffce-4e85-8680-3c82a84027dd.html"  target="element">
				  		<area shape="rect" coords="649,814,769,887" href="../elements/1d82aea2-c178-49ca-b64f-917e448e17c5.html"  target="element">
				  						<area shape="rect" coords="730,250,881,275" href="../elements/f66a7753-cb77-491b-8edc-fce0f679cae9.html"  target="element">

				  				<area shape="rect" coords="706,190,899,281" href="../elements/5b29a7f9-6f3c-4de5-b846-48f5e0f6ab04.html"  target="element">
				  						<area shape="rect" coords="490,250,622,275" href="../elements/da60dff6-80d6-4412-ad14-d8db35407e09.html"  target="element">

				  				<area shape="rect" coords="478,190,641,281" href="../elements/c07eb66e-d1c3-4017-ad53-8a9a79efda1d.html"  target="element">

				  		<area shape="rect" coords="454,142,959,326" href="../elements/95d12735-0c6c-4fd4-aeae-f6c442e00b26.html"  target="element">
				  		<area shape="rect" coords="649,736,769,803" href="../elements/3cb8bbf1-c394-42b9-b7bd-7be1cab1902c.html"  target="element">
				  		<area shape="rect" coords="649,658,769,713" href="../elements/282f5226-17a4-4317-ae20-55f05724cc41.html"  target="element">
				  		<area shape="rect" coords="649,574,769,629" href="../elements/fd92b968-4423-44a5-bb3c-20982ca04f5e.html"  target="element">
				  		<area shape="rect" coords="850,658,970,713" href="../elements/dc906754-e7c4-4deb-be9b-0905e8bd2cfa.html"  target="element">
				  		<area shape="rect" coords="850,574,970,629" href="../elements/98e7dae3-e6eb-407d-852b-924f7ad4d1f2.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/98e7dae3-e6eb-407d-852b-924f7ad4d1f2.html" target="element"> MORA GUI + REST API (TCP/5000) </a> </td>
											    <td> <a href="../elements/98e7dae3-e6eb-407d-852b-924f7ad4d1f2.html" target="element" class="i18n-elementtype-TechnologyInterface"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/dc906754-e7c4-4deb-be9b-0905e8bd2cfa.html" target="element"> MOX interface (TCP/8080) </a> </td>
											    <td> <a href="../elements/dc906754-e7c4-4deb-be9b-0905e8bd2cfa.html" target="element" class="i18n-elementtype-TechnologyInterface"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/fd92b968-4423-44a5-bb3c-20982ca04f5e.html" target="element"> mo - container </a> </td>
											    <td> <a href="../elements/fd92b968-4423-44a5-bb3c-20982ca04f5e.html" target="element" class="i18n-elementtype-Node"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/282f5226-17a4-4317-ae20-55f05724cc41.html" target="element"> mox (lora) - container </a> </td>
											    <td> <a href="../elements/282f5226-17a4-4317-ae20-55f05724cc41.html" target="element" class="i18n-elementtype-Node"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/3cb8bbf1-c394-42b9-b7bd-7be1cab1902c.html" target="element"> mox-db (postgres) - container </a> </td>
											    <td> <a href="../elements/3cb8bbf1-c394-42b9-b7bd-7be1cab1902c.html" target="element" class="i18n-elementtype-Node"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/95d12735-0c6c-4fd4-aeae-f6c442e00b26.html" target="element"> Virtualiseringsplatform eller fysisk server </a> </td>
											    <td> <a href="../elements/95d12735-0c6c-4fd4-aeae-f6c442e00b26.html" target="element" class="i18n-elementtype-Device"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/c07eb66e-d1c3-4017-ad53-8a9a79efda1d.html" target="element"> OS2mo server - (prod/test/udv) </a> </td>
													    <td> <a href="../elements/c07eb66e-d1c3-4017-ad53-8a9a79efda1d.html" target="element" class="i18n-elementtype-Node"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/da60dff6-80d6-4412-ad14-d8db35407e09.html" target="element"> OS: Ubuntu 16.04 </a> </td>
															    <td> <a href="../elements/da60dff6-80d6-4412-ad14-d8db35407e09.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/5b29a7f9-6f3c-4de5-b846-48f5e0f6ab04.html" target="element"> OS2mo - Applikations- overv&#229;gningsserver </a> </td>
													    <td> <a href="../elements/5b29a7f9-6f3c-4de5-b846-48f5e0f6ab04.html" target="element" class="i18n-elementtype-Node"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/f66a7753-cb77-491b-8edc-fce0f679cae9.html" target="element"> OS: Ubuntu 18.04 </a> </td>
															    <td> <a href="../elements/f66a7753-cb77-491b-8edc-fce0f679cae9.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/1d82aea2-c178-49ca-b64f-917e448e17c5.html" target="element"> msg_broker (rabbitmq) - container </a> </td>
											    <td> <a href="../elements/1d82aea2-c178-49ca-b64f-917e448e17c5.html" target="element" class="i18n-elementtype-Node"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/8449b662-ffce-4e85-8680-3c82a84027dd.html" target="element"> RabbitMQ (TCP/5672) </a> </td>
											    <td> <a href="../elements/8449b662-ffce-4e85-8680-3c82a84027dd.html" target="element" class="i18n-elementtype-TechnologyInterface"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/30a097fb-d36a-40e8-8f0c-3b030ec85ce9.html" target="element"> MGMG-UI (TCP/15672) </a> </td>
											    <td> <a href="../elements/30a097fb-d36a-40e8-8f0c-3b030ec85ce9.html" target="element" class="i18n-elementtype-TechnologyInterface"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f36d418c-e79d-41cd-9f8c-ebed14c2c7bf.html" target="element"> PostgreSQL (TCP/5432) </a> </td>
											    <td> <a href="../elements/f36d418c-e79d-41cd-9f8c-ebed14c2c7bf.html" target="element" class="i18n-elementtype-TechnologyInterface"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/587851d1-36a9-49a3-b612-9d8a2108cef0.html" target="element"> HTTP/HTTPS interface med SAML autorisation </a> </td>
											    <td> <a href="../elements/587851d1-36a9-49a3-b612-9d8a2108cef0.html" target="element" class="i18n-elementtype-TechnologyInterface"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/84a5da04-2787-4a05-b6e7-b2017bbabd31.html" target="element"> LAN </a> </td>
											    <td> <a href="../elements/84a5da04-2787-4a05-b6e7-b2017bbabd31.html" target="element" class="i18n-elementtype-CommunicationNetwork"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e0a9aa53-0a6e-40ad-9ee9-32bf52707060.html" target="element"> Reverse proxy service (nginx) </a> </td>
											    <td> <a href="../elements/e0a9aa53-0a6e-40ad-9ee9-32bf52707060.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c5b4e445-76b7-4181-b0dd-9d809fb6b9dd.html" target="element"> INTERNET </a> </td>
											    <td> <a href="../elements/c5b4e445-76b7-4181-b0dd-9d809fb6b9dd.html" target="element" class="i18n-elementtype-CommunicationNetwork"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/34e25b56-5fbd-4ef4-99b3-d93c7ecfdae9.html" target="element"> Afvikling af OS2mo integrationer og udtr&#230;k </a> </td>
											    <td> <a href="../elements/34e25b56-5fbd-4ef4-99b3-d93c7ecfdae9.html" target="element" class="i18n-elementtype-TechnologyFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b447ce1b-7c29-442c-94ce-737d261228a0.html" target="element"> Publicering af OS2mo (GUI og API) </a> </td>
											    <td> <a href="../elements/b447ce1b-7c29-442c-94ce-737d261228a0.html" target="element" class="i18n-elementtype-TechnologyFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/17d973a7-53c3-4ada-b3ee-ac7f2acd5b23.html" target="element"> Afvikling af OS2mo kerne (GUI, API, LoRa, MQ) </a> </td>
											    <td> <a href="../elements/17d973a7-53c3-4ada-b3ee-ac7f2acd5b23.html" target="element" class="i18n-elementtype-TechnologyFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/0c01bd60-0ad7-43fd-a798-7e586f7236e5.html" target="element"> PaaS service (docker) </a> </td>
											    <td> <a href="../elements/0c01bd60-0ad7-43fd-a798-7e586f7236e5.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/79920406-030c-405a-9f21-74119d69aed3.html" target="element"> Configuration mgmt. (remote execution, configuration, automatisation) </a> </td>
											    <td> <a href="../elements/79920406-030c-405a-9f21-74119d69aed3.html" target="element" class="i18n-elementtype-TechnologyFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e205c5b6-e9d7-45cb-85a4-1027bf12bcef.html" target="element"> Salt minion 'listener' interface </a> </td>
											    <td> <a href="../elements/e205c5b6-e9d7-45cb-85a4-1027bf12bcef.html" target="element" class="i18n-elementtype-TechnologyInterface"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/88cb2644-a536-4a98-8a52-7c910ac4c3c0.html" target="element"> Salt minion service </a> </td>
											    <td> <a href="../elements/88cb2644-a536-4a98-8a52-7c910ac4c3c0.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b018d1ca-d6ab-4ce1-80f1-65902034539f.html" target="element"> Magenta </a> </td>
											    <td> <a href="../elements/b018d1ca-d6ab-4ce1-80f1-65902034539f.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/9a303dc1-3f28-4791-8d74-3a8d21797977.html" target="element"> SALT 'master' service (ctrl1.magenta.dk) </a> </td>
													    <td> <a href="../elements/9a303dc1-3f28-4791-8d74-3a8d21797977.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/65495a5c-6da2-4efa-b01f-f5c7fe21c519.html" target="element"> Icinga 'master' service </a> </td>
													    <td> <a href="../elements/65495a5c-6da2-4efa-b01f-f5c7fe21c519.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/4e517b29-89fd-45c1-8d7f-d19c3609d2a0.html" target="element">  </a> </td>
									           <td> <a href="../objects/4e517b29-89fd-45c1-8d7f-d19c3609d2a0.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/caab7d32-2b86-4dd1-94ea-230d594f241b.html" target="element"> Icinga 2 overv&#229;gningsservice </a> </td>
											    <td> <a href="../elements/caab7d32-2b86-4dd1-94ea-230d594f241b.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/4141e335-4aa7-42d9-bc33-9795131b1b66.html" target="element"> Overv&#229;gning af OS2mo produktionsserver (kerne, integrationer og udtr&#230;ksjob) </a> </td>
											    <td> <a href="../elements/4141e335-4aa7-42d9-bc33-9795131b1b66.html" target="element" class="i18n-elementtype-TechnologyFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/90ae1670-60f6-4c77-91c2-bc4a635fdf58.html" target="element"> Icinga 2 'satelit' interface </a> </td>
											    <td> <a href="../elements/90ae1670-60f6-4c77-91c2-bc4a635fdf58.html" target="element" class="i18n-elementtype-TechnologyInterface"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/83a56ad9-f662-4039-9713-dcfe568984f5.html" target="element">  </a> </td>
																		<td> <a href="../elements/83a56ad9-f662-4039-9713-dcfe568984f5.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/fd92b968-4423-44a5-bb3c-20982ca04f5e.html" target="element"> mo - container </a> </td>
																		<td> <a href="../elements/98e7dae3-e6eb-407d-852b-924f7ad4d1f2.html" target="element"> MORA GUI + REST API (TCP/5000) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/9bdc55ca-4203-4904-b9ad-91cb5777a707.html" target="element">  </a> </td>
																		<td> <a href="../elements/9bdc55ca-4203-4904-b9ad-91cb5777a707.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/fd92b968-4423-44a5-bb3c-20982ca04f5e.html" target="element"> mo - container </a> </td>
																		<td> <a href="../elements/0c01bd60-0ad7-43fd-a798-7e586f7236e5.html" target="element"> PaaS service (docker) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/277722c4-1af0-4a5b-a917-49b086a49596.html" target="element">  </a> </td>
																		<td> <a href="../elements/277722c4-1af0-4a5b-a917-49b086a49596.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/fd92b968-4423-44a5-bb3c-20982ca04f5e.html" target="element"> mo - container </a> </td>
																		<td> <a href="../elements/dc906754-e7c4-4deb-be9b-0905e8bd2cfa.html" target="element"> MOX interface (TCP/8080) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f32ad200-ebbb-42cb-8f93-2bebd25cb8f6.html" target="element">  </a> </td>
																		<td> <a href="../elements/f32ad200-ebbb-42cb-8f93-2bebd25cb8f6.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/fd92b968-4423-44a5-bb3c-20982ca04f5e.html" target="element"> mo - container </a> </td>
																		<td> <a href="../elements/8449b662-ffce-4e85-8680-3c82a84027dd.html" target="element"> RabbitMQ (TCP/5672) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/2d226745-a6e4-416a-8474-f844afde8bac.html" target="element">  </a> </td>
																		<td> <a href="../elements/2d226745-a6e4-416a-8474-f844afde8bac.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/282f5226-17a4-4317-ae20-55f05724cc41.html" target="element"> mox (lora) - container </a> </td>
																		<td> <a href="../elements/dc906754-e7c4-4deb-be9b-0905e8bd2cfa.html" target="element"> MOX interface (TCP/8080) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3dd28a5b-ba51-40a1-829d-5b1f61cf30c8.html" target="element">  </a> </td>
																		<td> <a href="../elements/3dd28a5b-ba51-40a1-829d-5b1f61cf30c8.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/282f5226-17a4-4317-ae20-55f05724cc41.html" target="element"> mox (lora) - container </a> </td>
																		<td> <a href="../elements/0c01bd60-0ad7-43fd-a798-7e586f7236e5.html" target="element"> PaaS service (docker) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/93b34247-5825-4b7b-8121-b9b5dbc02483.html" target="element">  </a> </td>
																		<td> <a href="../elements/93b34247-5825-4b7b-8121-b9b5dbc02483.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/282f5226-17a4-4317-ae20-55f05724cc41.html" target="element"> mox (lora) - container </a> </td>
																		<td> <a href="../elements/f36d418c-e79d-41cd-9f8c-ebed14c2c7bf.html" target="element"> PostgreSQL (TCP/5432) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/8fff00ef-8ea6-46ec-8426-e6fc60250709.html" target="element">  </a> </td>
																		<td> <a href="../elements/8fff00ef-8ea6-46ec-8426-e6fc60250709.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/3cb8bbf1-c394-42b9-b7bd-7be1cab1902c.html" target="element"> mox-db (postgres) - container </a> </td>
																		<td> <a href="../elements/f36d418c-e79d-41cd-9f8c-ebed14c2c7bf.html" target="element"> PostgreSQL (TCP/5432) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/831bae20-bac2-4b5f-82ca-1bf3f55d67d0.html" target="element">  </a> </td>
																		<td> <a href="../elements/831bae20-bac2-4b5f-82ca-1bf3f55d67d0.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/3cb8bbf1-c394-42b9-b7bd-7be1cab1902c.html" target="element"> mox-db (postgres) - container </a> </td>
																		<td> <a href="../elements/0c01bd60-0ad7-43fd-a798-7e586f7236e5.html" target="element"> PaaS service (docker) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/68bc675c-1bb8-4a12-bded-59098eb45c3b.html" target="element">  </a> </td>
																		<td> <a href="../elements/68bc675c-1bb8-4a12-bded-59098eb45c3b.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/95d12735-0c6c-4fd4-aeae-f6c442e00b26.html" target="element"> Virtualiseringsplatform eller fysisk server </a> </td>
																		<td> <a href="../elements/c07eb66e-d1c3-4017-ad53-8a9a79efda1d.html" target="element"> OS2mo server - (prod/test/udv) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ec813442-7a24-4c28-83e3-efca7604a077.html" target="element">  </a> </td>
																		<td> <a href="../elements/ec813442-7a24-4c28-83e3-efca7604a077.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/95d12735-0c6c-4fd4-aeae-f6c442e00b26.html" target="element"> Virtualiseringsplatform eller fysisk server </a> </td>
																		<td> <a href="../elements/5b29a7f9-6f3c-4de5-b846-48f5e0f6ab04.html" target="element"> OS2mo - Applikations- overv&#229;gningsserver </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/ca2b6ee9-ee4e-4814-8331-7b77f1253ffe.html" target="element">  </a> </td>
																				<td> <a href="../elements/ca2b6ee9-ee4e-4814-8331-7b77f1253ffe.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/c07eb66e-d1c3-4017-ad53-8a9a79efda1d.html" target="element"> OS2mo server - (prod/test/udv) </a> </td>
																				<td> <a href="../elements/da60dff6-80d6-4412-ad14-d8db35407e09.html" target="element"> OS: Ubuntu 16.04 </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/50f6ee3e-0286-4bdd-9e71-0605e20f3294.html" target="element">  </a> </td>
																				<td> <a href="../elements/50f6ee3e-0286-4bdd-9e71-0605e20f3294.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																				<td> <a href="../elements/c07eb66e-d1c3-4017-ad53-8a9a79efda1d.html" target="element"> OS2mo server - (prod/test/udv) </a> </td>
																				<td> <a href="../elements/34e25b56-5fbd-4ef4-99b3-d93c7ecfdae9.html" target="element"> Afvikling af OS2mo integrationer og udtr&#230;k </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/3ea777ef-774c-4f37-bd6f-35faebb42455.html" target="element">  </a> </td>
																				<td> <a href="../elements/3ea777ef-774c-4f37-bd6f-35faebb42455.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																				<td> <a href="../elements/c07eb66e-d1c3-4017-ad53-8a9a79efda1d.html" target="element"> OS2mo server - (prod/test/udv) </a> </td>
																				<td> <a href="../elements/b447ce1b-7c29-442c-94ce-737d261228a0.html" target="element"> Publicering af OS2mo (GUI og API) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/cd1811fb-adf9-48fc-aa87-ad156ae86a36.html" target="element">  </a> </td>
																				<td> <a href="../elements/cd1811fb-adf9-48fc-aa87-ad156ae86a36.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																				<td> <a href="../elements/c07eb66e-d1c3-4017-ad53-8a9a79efda1d.html" target="element"> OS2mo server - (prod/test/udv) </a> </td>
																				<td> <a href="../elements/17d973a7-53c3-4ada-b3ee-ac7f2acd5b23.html" target="element"> Afvikling af OS2mo kerne (GUI, API, LoRa, MQ) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/2f6ad316-62b2-4890-b470-9c02c498ce87.html" target="element">  </a> </td>
																				<td> <a href="../elements/2f6ad316-62b2-4890-b470-9c02c498ce87.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																				<td> <a href="../elements/c07eb66e-d1c3-4017-ad53-8a9a79efda1d.html" target="element"> OS2mo server - (prod/test/udv) </a> </td>
																				<td> <a href="../elements/79920406-030c-405a-9f21-74119d69aed3.html" target="element"> Configuration mgmt. (remote execution, configuration, automatisation) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/17aecffe-ee9e-48d5-8386-99ec1155f8bb.html" target="element"> Serviceoverv&#229;gning </a> </td>
																				<td> <a href="../elements/17aecffe-ee9e-48d5-8386-99ec1155f8bb.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/c07eb66e-d1c3-4017-ad53-8a9a79efda1d.html" target="element"> OS2mo server - (prod/test/udv) </a> </td>
																				<td> <a href="../elements/caab7d32-2b86-4dd1-94ea-230d594f241b.html" target="element"> Icinga 2 overv&#229;gningsservice </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/567828d0-023f-4c92-afe3-96acc52b9bf7.html" target="element">  </a> </td>
																				<td> <a href="../elements/567828d0-023f-4c92-afe3-96acc52b9bf7.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/5b29a7f9-6f3c-4de5-b846-48f5e0f6ab04.html" target="element"> OS2mo - Applikations- overv&#229;gningsserver </a> </td>
																				<td> <a href="../elements/f66a7753-cb77-491b-8edc-fce0f679cae9.html" target="element"> OS: Ubuntu 18.04 </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/d63dabe6-826e-459b-a34e-81667807940f.html" target="element">  </a> </td>
																				<td> <a href="../elements/d63dabe6-826e-459b-a34e-81667807940f.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																				<td> <a href="../elements/5b29a7f9-6f3c-4de5-b846-48f5e0f6ab04.html" target="element"> OS2mo - Applikations- overv&#229;gningsserver </a> </td>
																				<td> <a href="../elements/4141e335-4aa7-42d9-bc33-9795131b1b66.html" target="element"> Overv&#229;gning af OS2mo produktionsserver (kerne, integrationer og udtr&#230;ksjob) </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/9c708944-0d0b-48d3-8f8f-a222f05a7124.html" target="element">  </a> </td>
																		<td> <a href="../elements/9c708944-0d0b-48d3-8f8f-a222f05a7124.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/1d82aea2-c178-49ca-b64f-917e448e17c5.html" target="element"> msg_broker (rabbitmq) - container </a> </td>
																		<td> <a href="../elements/8449b662-ffce-4e85-8680-3c82a84027dd.html" target="element"> RabbitMQ (TCP/5672) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/abc6bd9c-a583-409a-98ed-cc865ed51335.html" target="element">  </a> </td>
																		<td> <a href="../elements/abc6bd9c-a583-409a-98ed-cc865ed51335.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/1d82aea2-c178-49ca-b64f-917e448e17c5.html" target="element"> msg_broker (rabbitmq) - container </a> </td>
																		<td> <a href="../elements/30a097fb-d36a-40e8-8f0c-3b030ec85ce9.html" target="element"> MGMG-UI (TCP/15672) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/4139bb30-b4a6-4092-8493-24c7bac88916.html" target="element">  </a> </td>
																		<td> <a href="../elements/4139bb30-b4a6-4092-8493-24c7bac88916.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/1d82aea2-c178-49ca-b64f-917e448e17c5.html" target="element"> msg_broker (rabbitmq) - container </a> </td>
																		<td> <a href="../elements/0c01bd60-0ad7-43fd-a798-7e586f7236e5.html" target="element"> PaaS service (docker) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/c5344cc3-3d3f-47f8-86fa-4fc91b940313.html" target="element"> Assignet </a> </td>
																		<td> <a href="../elements/c5344cc3-3d3f-47f8-86fa-4fc91b940313.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/587851d1-36a9-49a3-b612-9d8a2108cef0.html" target="element"> HTTP/HTTPS interface med SAML autorisation </a> </td>
																		<td> <a href="../elements/e0a9aa53-0a6e-40ad-9ee9-32bf52707060.html" target="element"> Reverse proxy service (nginx) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/653f7413-c0f3-4d90-9210-98b94c25606a.html" target="element"> TCP/80+443 </a> </td>
																		<td> <a href="../elements/653f7413-c0f3-4d90-9210-98b94c25606a.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/84a5da04-2787-4a05-b6e7-b2017bbabd31.html" target="element"> LAN </a> </td>
																		<td> <a href="../elements/587851d1-36a9-49a3-b612-9d8a2108cef0.html" target="element"> HTTP/HTTPS interface med SAML autorisation </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/00891b48-117d-4a70-8885-47510ba31431.html" target="element">  </a> </td>
																		<td> <a href="../elements/00891b48-117d-4a70-8885-47510ba31431.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/e0a9aa53-0a6e-40ad-9ee9-32bf52707060.html" target="element"> Reverse proxy service (nginx) </a> </td>
																		<td> <a href="../elements/98e7dae3-e6eb-407d-852b-924f7ad4d1f2.html" target="element"> MORA GUI + REST API (TCP/5000) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/dad0d80a-38d0-4cc6-9527-835c1a904b0b.html" target="element"> TCP/4506 </a> </td>
																		<td> <a href="../elements/dad0d80a-38d0-4cc6-9527-835c1a904b0b.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/c5b4e445-76b7-4181-b0dd-9d809fb6b9dd.html" target="element"> INTERNET </a> </td>
																		<td> <a href="../elements/9a303dc1-3f28-4791-8d74-3a8d21797977.html" target="element"> SALT 'master' service (ctrl1.magenta.dk) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/562bf3bf-cb3a-481e-b0e5-a288e9bf403e.html" target="element">  </a> </td>
																		<td> <a href="../elements/562bf3bf-cb3a-481e-b0e5-a288e9bf403e.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/34e25b56-5fbd-4ef4-99b3-d93c7ecfdae9.html" target="element"> Afvikling af OS2mo integrationer og udtr&#230;k </a> </td>
																		<td> <a href="../elements/98e7dae3-e6eb-407d-852b-924f7ad4d1f2.html" target="element"> MORA GUI + REST API (TCP/5000) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/94c8a821-818f-4e7c-b241-d8b699e314a6.html" target="element">  </a> </td>
																		<td> <a href="../elements/94c8a821-818f-4e7c-b241-d8b699e314a6.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/34e25b56-5fbd-4ef4-99b3-d93c7ecfdae9.html" target="element"> Afvikling af OS2mo integrationer og udtr&#230;k </a> </td>
																		<td> <a href="../elements/dc906754-e7c4-4deb-be9b-0905e8bd2cfa.html" target="element"> MOX interface (TCP/8080) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/ca7dab13-457a-4f93-97b7-3bb1b1b587fc.html" target="element"> Realize </a> </td>
																		<td> <a href="../elements/ca7dab13-457a-4f93-97b7-3bb1b1b587fc.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/b447ce1b-7c29-442c-94ce-737d261228a0.html" target="element"> Publicering af OS2mo (GUI og API) </a> </td>
																		<td> <a href="../elements/e0a9aa53-0a6e-40ad-9ee9-32bf52707060.html" target="element"> Reverse proxy service (nginx) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/41dff5d3-ae48-4b79-9647-54e7f53cfe46.html" target="element">  </a> </td>
																		<td> <a href="../elements/41dff5d3-ae48-4b79-9647-54e7f53cfe46.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/17d973a7-53c3-4ada-b3ee-ac7f2acd5b23.html" target="element"> Afvikling af OS2mo kerne (GUI, API, LoRa, MQ) </a> </td>
																		<td> <a href="../elements/0c01bd60-0ad7-43fd-a798-7e586f7236e5.html" target="element"> PaaS service (docker) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/3c6872a8-a559-4620-9067-02c5191adb81.html" target="element">  </a> </td>
																		<td> <a href="../elements/3c6872a8-a559-4620-9067-02c5191adb81.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/79920406-030c-405a-9f21-74119d69aed3.html" target="element"> Configuration mgmt. (remote execution, configuration, automatisation) </a> </td>
																		<td> <a href="../elements/88cb2644-a536-4a98-8a52-7c910ac4c3c0.html" target="element"> Salt minion service </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/033bcc4f-76f5-4c13-88f3-64cdc9ded377.html" target="element">  </a> </td>
																		<td> <a href="../elements/033bcc4f-76f5-4c13-88f3-64cdc9ded377.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/e205c5b6-e9d7-45cb-85a4-1027bf12bcef.html" target="element"> Salt minion 'listener' interface </a> </td>
																		<td> <a href="../elements/88cb2644-a536-4a98-8a52-7c910ac4c3c0.html" target="element"> Salt minion service </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/273c180e-cc4c-443f-88eb-ea5626f17724.html" target="element">  </a> </td>
																		<td> <a href="../elements/273c180e-cc4c-443f-88eb-ea5626f17724.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/e205c5b6-e9d7-45cb-85a4-1027bf12bcef.html" target="element"> Salt minion 'listener' interface </a> </td>
																		<td> <a href="../elements/c5b4e445-76b7-4181-b0dd-9d809fb6b9dd.html" target="element"> INTERNET </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/6ac34c5f-81cd-473d-8804-8680f675a160.html" target="element">  </a> </td>
																		<td> <a href="../elements/6ac34c5f-81cd-473d-8804-8680f675a160.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/b018d1ca-d6ab-4ce1-80f1-65902034539f.html" target="element"> Magenta </a> </td>
																		<td> <a href="../elements/9a303dc1-3f28-4791-8d74-3a8d21797977.html" target="element"> SALT 'master' service (ctrl1.magenta.dk) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/26bdeb1f-2319-4157-95db-9cc0af4fccda.html" target="element">  </a> </td>
																		<td> <a href="../elements/26bdeb1f-2319-4157-95db-9cc0af4fccda.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/b018d1ca-d6ab-4ce1-80f1-65902034539f.html" target="element"> Magenta </a> </td>
																		<td> <a href="../elements/65495a5c-6da2-4efa-b01f-f5c7fe21c519.html" target="element"> Icinga 'master' service </a> </td>
																	</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/760cccf2-cf5b-469a-ae83-eae20bcd154b.html" target="element">  </a> </td>
																		<td> <a href="../elements/760cccf2-cf5b-469a-ae83-eae20bcd154b.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/4141e335-4aa7-42d9-bc33-9795131b1b66.html" target="element"> Overv&#229;gning af OS2mo produktionsserver (kerne, integrationer og udtr&#230;ksjob) </a> </td>
																		<td> <a href="../elements/caab7d32-2b86-4dd1-94ea-230d594f241b.html" target="element"> Icinga 2 overv&#229;gningsservice </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/00ae7378-a017-428b-8e30-8644af91ff18.html" target="element"> TCP/5665 </a> </td>
																		<td> <a href="../elements/00ae7378-a017-428b-8e30-8644af91ff18.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/90ae1670-60f6-4c77-91c2-bc4a635fdf58.html" target="element"> Icinga 2 'satelit' interface </a> </td>
																		<td> <a href="../elements/65495a5c-6da2-4efa-b01f-f5c7fe21c519.html" target="element"> Icinga 'master' service </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/9d7594b5-f9d4-434c-9ab1-554143c8a149.html" target="element">  </a> </td>
																		<td> <a href="../elements/9d7594b5-f9d4-434c-9ab1-554143c8a149.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/90ae1670-60f6-4c77-91c2-bc4a635fdf58.html" target="element"> Icinga 2 'satelit' interface </a> </td>
																		<td> <a href="../elements/caab7d32-2b86-4dd1-94ea-230d594f241b.html" target="element"> Icinga 2 overv&#229;gningsservice </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>