<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>SD - forretningsprocesser relateret til vedligeholdelse af SD Organisation</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>SD - forretningsprocesser relateret til vedligeholdelse af SD Organisation</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-business_process_cooperation"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_business_process_cooperation" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/35520d13-2619-4b27-9b5c-988f260bdd2f.png" alt="SD - forretningsprocesser relateret til vedligeholdelse af SD Organisation" usemap="#35520d13-2619-4b27-9b5c-988f260bdd2fmap"/>
			   <map name="35520d13-2619-4b27-9b5c-988f260bdd2fmap">
				  		<area shape="rect" coords="193,149,363,204" href="../elements/4a46c44d-7dd8-4322-91e0-65b891eccbae.html"  target="element">
				  		<area shape="rect" coords="193,77,363,132" href="../elements/1f5a08d2-36a3-4535-b3e6-423e182919ba.html"  target="element">
				  		<area shape="rect" coords="193,10,363,65" href="../elements/8fdd5571-5f9d-4194-8c23-fc45eb4d8847.html"  target="element">
				  		<area shape="rect" coords="10,149,130,204" href="../elements/ffcbde53-4484-4db6-8159-04ff355237b2.html"  target="element">
				  		<area shape="rect" coords="10,365,130,420" href="../elements/e30df763-be3b-491a-9b06-63e281cb940a.html"  target="element">
				  		<area shape="rect" coords="10,293,130,348" href="../elements/d18e54f0-297f-4bd2-a884-23db3223cb17.html"  target="element">
				  		<area shape="rect" coords="10,221,130,276" href="../elements/6e6f2283-92a7-4bdc-a55f-3164a223810e.html"  target="element">
				  		<area shape="rect" coords="10,77,130,132" href="../elements/aa4666f1-1a76-4795-9b71-10210e07443a.html"  target="element">
				  		<area shape="rect" coords="10,10,130,65" href="../elements/5ef37b9a-5b53-4d24-b3aa-8c72585308d8.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/5ef37b9a-5b53-4d24-b3aa-8c72585308d8.html" target="element"> Opret SD Afdeling </a> </td>
											    <td> <a href="../elements/5ef37b9a-5b53-4d24-b3aa-8c72585308d8.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/aa4666f1-1a76-4795-9b71-10210e07443a.html" target="element"> Omd&#248;b SD Afdeling </a> </td>
											    <td> <a href="../elements/aa4666f1-1a76-4795-9b71-10210e07443a.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6e6f2283-92a7-4bdc-a55f-3164a223810e.html" target="element"> Opret SD strukturniveau </a> </td>
											    <td> <a href="../elements/6e6f2283-92a7-4bdc-a55f-3164a223810e.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d18e54f0-297f-4bd2-a884-23db3223cb17.html" target="element"> Omd&#248;b SD strukturniveau </a> </td>
											    <td> <a href="../elements/d18e54f0-297f-4bd2-a884-23db3223cb17.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e30df763-be3b-491a-9b06-63e281cb940a.html" target="element"> Nedl&#230;g SD strukturniveau </a> </td>
											    <td> <a href="../elements/e30df763-be3b-491a-9b06-63e281cb940a.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/ffcbde53-4484-4db6-8159-04ff355237b2.html" target="element"> Slet SD Afdeling </a> </td>
											    <td> <a href="../elements/ffcbde53-4484-4db6-8159-04ff355237b2.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/8fdd5571-5f9d-4194-8c23-fc45eb4d8847.html" target="element"> Tilknyt SD Afdeling til strukturniveauer </a> </td>
											    <td> <a href="../elements/8fdd5571-5f9d-4194-8c23-fc45eb4d8847.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/1f5a08d2-36a3-4535-b3e6-423e182919ba.html" target="element"> Flyt SD Afdeling til andet strukturniveau </a> </td>
											    <td> <a href="../elements/1f5a08d2-36a3-4535-b3e6-423e182919ba.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/4a46c44d-7dd8-4322-91e0-65b891eccbae.html" target="element"> Skift for&#230;ldreenhed for eksisterende strukturniveau </a> </td>
											    <td> <a href="../elements/4a46c44d-7dd8-4322-91e0-65b891eccbae.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>