<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Systemoverblik (deployment med integrationer)</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Systemoverblik (deployment med integrationer)</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-implementation_migration"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_implementation_migration" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/780b5127-8ca0-452d-8b44-37933fe5342a.png" alt="Systemoverblik (deployment med integrationer)" usemap="#780b5127-8ca0-452d-8b44-37933fe5342amap"/>
			   <map name="780b5127-8ca0-452d-8b44-37933fe5342amap">
				  		<area shape="rect" coords="537,562,682,617" href="../elements/e54a5e41-8c31-4696-9eaf-d3785b5c0d43.html"  target="element">
				  				<area shape="rect" coords="1006,610,1126,665" href="../elements/0cf858bd-4490-4552-83b2-4cbccbcb4c0d.html"  target="element">

				  		<area shape="rect" coords="970,574,1355,714" href="../elements/95a7e80f-71a9-464e-b964-31242c72a297.html"  target="element">
				  		<area shape="rect" coords="550,370,670,425" href="../elements/0c8434f4-6076-4282-8a65-2c63f36a8a63.html"  target="element">
				  		<area shape="rect" coords="550,82,670,137" href="../elements/2139eee8-992b-4768-a393-acba6a4f60bd.html"  target="element">
				  		<area shape="rect" coords="550,154,670,209" href="../elements/19643185-517f-419f-b716-9fe6c61b9d4d.html"  target="element">
				  		<area shape="rect" coords="274,166,394,221" href="../elements/41a8170f-991f-4ed0-a9f7-4d7b6a2196db.html"  target="element">
				  		<area shape="rect" coords="94,277,214,332" href="../elements/36b62727-5b3d-4dca-bbdc-ee584092a15f.html"  target="element">
				  		<area shape="rect" coords="550,10,670,65" href="../elements/00c22511-c3f5-46d5-beb3-22cb5afe2794.html"  target="element">
				  		<area shape="rect" coords="550,454,670,509" href="../elements/a383c3c7-7eb0-4c4d-af2e-328163bdcd4e.html"  target="element">
				  		<area shape="rect" coords="550,298,670,353" href="../elements/03b8b139-47e8-47de-b3f8-e29a74717340.html"  target="element">
				  		<area shape="rect" coords="550,226,670,281" href="../elements/aa2ca36b-7a41-498f-9958-1246999996b6.html"  target="element">
				  				<area shape="rect" coords="1006,394,1139,443" href="../elements/7026319e-9553-480e-a5fa-244f23634d04.html"  target="element">
				  				<area shape="rect" coords="1006,466,1139,515" href="../elements/8d8b5715-9173-48f1-b422-f4d339afff25.html"  target="element">
				  				<area shape="rect" coords="1186,394,1306,449" href="../elements/2d90c74d-5b75-4938-84a0-722a4772252d.html"  target="element">

				  		<area shape="rect" coords="970,346,1329,551" href="../elements/4d89a90b-deeb-45a2-80eb-f6f11abcf907.html"  target="element">
				  				<area shape="rect" coords="1186,202,1306,257" href="../elements/f5a99987-f6f0-4bc8-8d4b-661f07006bfe.html"  target="element">
				  						<area shape="rect" coords="1006,202,1126,257" href="../elements/3d8ee575-e0d9-46de-b358-c88d8ef35d72.html"  target="element">
				  						<area shape="rect" coords="1006,142,1126,197" href="../elements/c66d3ff2-7141-4393-ba37-aefeac9aaa69.html"  target="element">
				  						<area shape="rect" coords="1006,82,1126,137" href="../elements/8abdd1fb-9994-4eef-bfb3-a9917ad7f479.html"  target="element">

				  				<area shape="rect" coords="982,46,1139,287" href="../elements/a15a87b2-7ef1-4947-b63a-d732577584a4.html"  target="element">

				  		<area shape="rect" coords="970,10,1379,323" href="../elements/3a1e5697-0884-4595-a2c9-a3abf9d97517.html"  target="element">
				  		<area shape="rect" coords="754,766,899,821" href="../elements/66033fd8-8626-4189-a2dc-f46238489601.html"  target="element">
				  		<area shape="rect" coords="742,693,923,719" href="../elements/6f90cba4-df1c-4f34-aa86-a3ec348297ca.html"  target="element">
				  		<area shape="rect" coords="274,277,394,332" href="../elements/d9e6c40f-d8be-44b3-ba82-da7560a7449b.html"  target="element">
				  		<area shape="rect" coords="10,670,142,694" href="../elements/f4cebbbf-c513-4cdb-bc5c-c4fa65323512.html"  target="element">
				  				<area shape="rect" coords="550,682,674,741" href="../elements/872c3f8a-2dd8-4751-bc63-a8c7b4ffde8b.html"  target="element">
				  						<area shape="rect" coords="346,745,479,818" href="../elements/5b29a7f9-6f3c-4de5-b846-48f5e0f6ab04.html"  target="element">
				  						<area shape="rect" coords="207,754,340,809" href="../elements/806b32d1-c263-4507-86fa-a47b3084bae0.html"  target="element">
				  						<area shape="rect" coords="346,679,466,740" href="../elements/4cfb9b5a-b467-4422-a522-66f6919e3b10.html"  target="element">
				  						<area shape="rect" coords="214,682,334,737" href="../elements/c07eb66e-d1c3-4017-ad53-8a9a79efda1d.html"  target="element">

				  				<area shape="rect" coords="202,658,518,827" href="../elements/3fa81522-af1a-4251-8f1a-b9c9c2be5a69.html"  target="element">

				  		<area shape="rect" coords="190,634,731,887" href="../elements/95d12735-0c6c-4fd4-aeae-f6c442e00b26.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/95d12735-0c6c-4fd4-aeae-f6c442e00b26.html" target="element"> Virtualiseringsplatform eller fysisk server </a> </td>
											    <td> <a href="../elements/95d12735-0c6c-4fd4-aeae-f6c442e00b26.html" target="element" class="i18n-elementtype-Device"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/3fa81522-af1a-4251-8f1a-b9c9c2be5a69.html" target="element"> OS2mo servere </a> </td>
													    <td> <a href="../elements/3fa81522-af1a-4251-8f1a-b9c9c2be5a69.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/c07eb66e-d1c3-4017-ad53-8a9a79efda1d.html" target="element"> OS2mo server - (prod/test/udv) </a> </td>
															    <td> <a href="../elements/c07eb66e-d1c3-4017-ad53-8a9a79efda1d.html" target="element" class="i18n-elementtype-Node"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/4cfb9b5a-b467-4422-a522-66f6919e3b10.html" target="element"> OS2mo - Udviklingsserver </a> </td>
															    <td> <a href="../elements/4cfb9b5a-b467-4422-a522-66f6919e3b10.html" target="element" class="i18n-elementtype-Node"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/806b32d1-c263-4507-86fa-a47b3084bae0.html" target="element"> OS2mo - Testserver </a> </td>
															    <td> <a href="../elements/806b32d1-c263-4507-86fa-a47b3084bae0.html" target="element" class="i18n-elementtype-Node"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/5b29a7f9-6f3c-4de5-b846-48f5e0f6ab04.html" target="element"> OS2mo - Applikations- overv&#229;gningsserver </a> </td>
															    <td> <a href="../elements/5b29a7f9-6f3c-4de5-b846-48f5e0f6ab04.html" target="element" class="i18n-elementtype-Node"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/872c3f8a-2dd8-4751-bc63-a8c7b4ffde8b.html" target="element"> OS2mo Powershell Remote server </a> </td>
													    <td> <a href="../elements/872c3f8a-2dd8-4751-bc63-a8c7b4ffde8b.html" target="element" class="i18n-elementtype-Node"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/f4cebbbf-c513-4cdb-bc5c-c4fa65323512.html" target="element"> OS: Ubuntu Linux </a> </td>
											    <td> <a href="../elements/f4cebbbf-c513-4cdb-bc5c-c4fa65323512.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d9e6c40f-d8be-44b3-ba82-da7560a7449b.html" target="element"> OS2mo (Organisations- komponent) </a> </td>
											    <td> <a href="../elements/d9e6c40f-d8be-44b3-ba82-da7560a7449b.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6f90cba4-df1c-4f34-aa86-a3ec348297ca.html" target="element"> OS: Windows server 2019 </a> </td>
											    <td> <a href="../elements/6f90cba4-df1c-4f34-aa86-a3ec348297ca.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/66033fd8-8626-4189-a2dc-f46238489601.html" target="element"> Active Directory Domain (medlemskab) </a> </td>
											    <td> <a href="../elements/66033fd8-8626-4189-a2dc-f46238489601.html" target="element" class="i18n-elementtype-CommunicationNetwork"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/3a1e5697-0884-4595-a2c9-a3abf9d97517.html" target="element"> Kombit </a> </td>
											    <td> <a href="../elements/3a1e5697-0884-4595-a2c9-a3abf9d97517.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/a15a87b2-7ef1-4947-b63a-d732577584a4.html" target="element"> Kombit Serviceplatform </a> </td>
													    <td> <a href="../elements/a15a87b2-7ef1-4947-b63a-d732577584a4.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/8abdd1fb-9994-4eef-bfb3-a9917ad7f479.html" target="element"> CPR-service (SF6004) </a> </td>
															    <td> <a href="../elements/8abdd1fb-9994-4eef-bfb3-a9917ad7f479.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/c66d3ff2-7141-4393-ba37-aefeac9aaa69.html" target="element"> Addresser (DAR) </a> </td>
															    <td> <a href="../elements/c66d3ff2-7141-4393-ba37-aefeac9aaa69.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/3d8ee575-e0d9-46de-b358-c88d8ef35d72.html" target="element"> Organisation service (SF1500) </a> </td>
															    <td> <a href="../elements/3d8ee575-e0d9-46de-b358-c88d8ef35d72.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/f5a99987-f6f0-4bc8-8d4b-661f07006bfe.html" target="element"> STS Organisation </a> </td>
													    <td> <a href="../elements/f5a99987-f6f0-4bc8-8d4b-661f07006bfe.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/4d89a90b-deeb-45a2-80eb-f6f11abcf907.html" target="element"> Silkeborg Data </a> </td>
											    <td> <a href="../elements/4d89a90b-deeb-45a2-80eb-f6f11abcf907.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/2d90c74d-5b75-4938-84a0-722a4772252d.html" target="element"> SD l&#248;n </a> </td>
													    <td> <a href="../elements/2d90c74d-5b75-4938-84a0-722a4772252d.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/8d8b5715-9173-48f1-b422-f4d339afff25.html" target="element"> SD REST WebServices </a> </td>
													    <td> <a href="../elements/8d8b5715-9173-48f1-b422-f4d339afff25.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/7026319e-9553-480e-a5fa-244f23634d04.html" target="element"> SD-MOX service </a> </td>
													    <td> <a href="../elements/7026319e-9553-480e-a5fa-244f23634d04.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/aa2ca36b-7a41-498f-9958-1246999996b6.html" target="element"> SD-MOX integration (skriv) </a> </td>
											    <td> <a href="../elements/aa2ca36b-7a41-498f-9958-1246999996b6.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/03b8b139-47e8-47de-b3f8-e29a74717340.html" target="element"> SD integration (L&#198;S) </a> </td>
											    <td> <a href="../elements/03b8b139-47e8-47de-b3f8-e29a74717340.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/a383c3c7-7eb0-4c4d-af2e-328163bdcd4e.html" target="element"> AD integration </a> </td>
											    <td> <a href="../elements/a383c3c7-7eb0-4c4d-af2e-328163bdcd4e.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/00c22511-c3f5-46d5-beb3-22cb5afe2794.html" target="element"> CPR-opslag og navnesync. </a> </td>
											    <td> <a href="../elements/00c22511-c3f5-46d5-beb3-22cb5afe2794.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/36b62727-5b3d-4dca-bbdc-ee584092a15f.html" target="element"> OS2mo GUI </a> </td>
											    <td> <a href="../elements/36b62727-5b3d-4dca-bbdc-ee584092a15f.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/41a8170f-991f-4ed0-a9f7-4d7b6a2196db.html" target="element"> MO-API </a> </td>
											    <td> <a href="../elements/41a8170f-991f-4ed0-a9f7-4d7b6a2196db.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/19643185-517f-419f-b716-9fe6c61b9d4d.html" target="element"> STS Org. sync service </a> </td>
											    <td> <a href="../elements/19643185-517f-419f-b716-9fe6c61b9d4d.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/2139eee8-992b-4768-a393-acba6a4f60bd.html" target="element"> DAR-adresse opslag/sync </a> </td>
											    <td> <a href="../elements/2139eee8-992b-4768-a393-acba6a4f60bd.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/0c8434f4-6076-4282-8a65-2c63f36a8a63.html" target="element"> OPUS l&#248;n (L&#198;S) </a> </td>
											    <td> <a href="../elements/0c8434f4-6076-4282-8a65-2c63f36a8a63.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/95a7e80f-71a9-464e-b964-31242c72a297.html" target="element"> KMD </a> </td>
											    <td> <a href="../elements/95a7e80f-71a9-464e-b964-31242c72a297.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/0cf858bd-4490-4552-83b2-4cbccbcb4c0d.html" target="element"> KMD OPUS l&#248;n </a> </td>
													    <td> <a href="../elements/0cf858bd-4490-4552-83b2-4cbccbcb4c0d.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/e54a5e41-8c31-4696-9eaf-d3785b5c0d43.html" target="element"> Windows Remote Mgmt interface (HTTP/5985) </a> </td>
											    <td> <a href="../elements/e54a5e41-8c31-4696-9eaf-d3785b5c0d43.html" target="element" class="i18n-elementtype-TechnologyInterface"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/a82c61a3-34c7-440c-a9c4-1aae4af1716d.html" target="element">  </a> </td>
																		<td> <a href="../elements/a82c61a3-34c7-440c-a9c4-1aae4af1716d.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/95d12735-0c6c-4fd4-aeae-f6c442e00b26.html" target="element"> Virtualiseringsplatform eller fysisk server </a> </td>
																		<td> <a href="../elements/3fa81522-af1a-4251-8f1a-b9c9c2be5a69.html" target="element"> OS2mo servere </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/c5bf0703-30a8-46eb-ac7b-5fde913eed21.html" target="element">  </a> </td>
																				<td> <a href="../elements/c5bf0703-30a8-46eb-ac7b-5fde913eed21.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/3fa81522-af1a-4251-8f1a-b9c9c2be5a69.html" target="element"> OS2mo servere </a> </td>
																				<td> <a href="../elements/c07eb66e-d1c3-4017-ad53-8a9a79efda1d.html" target="element"> OS2mo server - (prod/test/udv) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/4e0f5edb-6906-437a-b05f-491053d5f30d.html" target="element">  </a> </td>
																				<td> <a href="../elements/4e0f5edb-6906-437a-b05f-491053d5f30d.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/3fa81522-af1a-4251-8f1a-b9c9c2be5a69.html" target="element"> OS2mo servere </a> </td>
																				<td> <a href="../elements/4cfb9b5a-b467-4422-a522-66f6919e3b10.html" target="element"> OS2mo - Udviklingsserver </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/387334ec-3a88-49c8-ae64-9c22d565fff8.html" target="element">  </a> </td>
																				<td> <a href="../elements/387334ec-3a88-49c8-ae64-9c22d565fff8.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/3fa81522-af1a-4251-8f1a-b9c9c2be5a69.html" target="element"> OS2mo servere </a> </td>
																				<td> <a href="../elements/806b32d1-c263-4507-86fa-a47b3084bae0.html" target="element"> OS2mo - Testserver </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/8a40ffca-4b47-443d-8776-ea7af9894590.html" target="element">  </a> </td>
																				<td> <a href="../elements/8a40ffca-4b47-443d-8776-ea7af9894590.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/3fa81522-af1a-4251-8f1a-b9c9c2be5a69.html" target="element"> OS2mo servere </a> </td>
																				<td> <a href="../elements/5b29a7f9-6f3c-4de5-b846-48f5e0f6ab04.html" target="element"> OS2mo - Applikations- overv&#229;gningsserver </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/6a428e81-0c86-4829-af77-8351ad676540.html" target="element"> Realiserer </a> </td>
																				<td> <a href="../elements/6a428e81-0c86-4829-af77-8351ad676540.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/3fa81522-af1a-4251-8f1a-b9c9c2be5a69.html" target="element"> OS2mo servere </a> </td>
																				<td> <a href="../elements/d9e6c40f-d8be-44b3-ba82-da7560a7449b.html" target="element"> OS2mo (Organisations- komponent) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/dec9a424-e891-4f1e-92ac-8559cd94cd67.html" target="element">  </a> </td>
																				<td> <a href="../elements/dec9a424-e891-4f1e-92ac-8559cd94cd67.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/3fa81522-af1a-4251-8f1a-b9c9c2be5a69.html" target="element"> OS2mo servere </a> </td>
																				<td> <a href="../elements/66033fd8-8626-4189-a2dc-f46238489601.html" target="element"> Active Directory Domain (medlemskab) </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/edeb1462-c9a8-454b-a468-4e0c12a7293f.html" target="element">  </a> </td>
																				<td> <a href="../elements/edeb1462-c9a8-454b-a468-4e0c12a7293f.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/872c3f8a-2dd8-4751-bc63-a8c7b4ffde8b.html" target="element"> OS2mo Powershell Remote server </a> </td>
																				<td> <a href="../elements/6f90cba4-df1c-4f34-aa86-a3ec348297ca.html" target="element"> OS: Windows server 2019 </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/d31f1863-307d-4825-b65a-0df7313c28ce.html" target="element">  </a> </td>
																				<td> <a href="../elements/d31f1863-307d-4825-b65a-0df7313c28ce.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/872c3f8a-2dd8-4751-bc63-a8c7b4ffde8b.html" target="element"> OS2mo Powershell Remote server </a> </td>
																				<td> <a href="../elements/66033fd8-8626-4189-a2dc-f46238489601.html" target="element"> Active Directory Domain (medlemskab) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/70a478c2-2121-4735-a67d-26239838c381.html" target="element">  </a> </td>
																				<td> <a href="../elements/70a478c2-2121-4735-a67d-26239838c381.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/872c3f8a-2dd8-4751-bc63-a8c7b4ffde8b.html" target="element"> OS2mo Powershell Remote server </a> </td>
																				<td> <a href="../elements/e54a5e41-8c31-4696-9eaf-d3785b5c0d43.html" target="element"> Windows Remote Mgmt interface (HTTP/5985) </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/b9cd693f-341e-461d-911d-6f614fe47023.html" target="element">  </a> </td>
																		<td> <a href="../elements/b9cd693f-341e-461d-911d-6f614fe47023.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/f4cebbbf-c513-4cdb-bc5c-c4fa65323512.html" target="element"> OS: Ubuntu Linux </a> </td>
																		<td> <a href="../elements/3fa81522-af1a-4251-8f1a-b9c9c2be5a69.html" target="element"> OS2mo servere </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/0d360f79-fa58-4309-9375-88513e188111.html" target="element">  </a> </td>
																		<td> <a href="../elements/0d360f79-fa58-4309-9375-88513e188111.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/d9e6c40f-d8be-44b3-ba82-da7560a7449b.html" target="element"> OS2mo (Organisations- komponent) </a> </td>
																		<td> <a href="../elements/aa2ca36b-7a41-498f-9958-1246999996b6.html" target="element"> SD-MOX integration (skriv) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/4323b09d-15d7-44d8-9999-225f85169190.html" target="element">  </a> </td>
																		<td> <a href="../elements/4323b09d-15d7-44d8-9999-225f85169190.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/d9e6c40f-d8be-44b3-ba82-da7560a7449b.html" target="element"> OS2mo (Organisations- komponent) </a> </td>
																		<td> <a href="../elements/03b8b139-47e8-47de-b3f8-e29a74717340.html" target="element"> SD integration (L&#198;S) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/5a366a66-e8b5-4444-996c-9b1ab91bd8f1.html" target="element">  </a> </td>
																		<td> <a href="../elements/5a366a66-e8b5-4444-996c-9b1ab91bd8f1.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/d9e6c40f-d8be-44b3-ba82-da7560a7449b.html" target="element"> OS2mo (Organisations- komponent) </a> </td>
																		<td> <a href="../elements/a383c3c7-7eb0-4c4d-af2e-328163bdcd4e.html" target="element"> AD integration </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/2c15e6c1-9acc-4d9a-961b-ceece67e1219.html" target="element">  </a> </td>
																		<td> <a href="../elements/2c15e6c1-9acc-4d9a-961b-ceece67e1219.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/d9e6c40f-d8be-44b3-ba82-da7560a7449b.html" target="element"> OS2mo (Organisations- komponent) </a> </td>
																		<td> <a href="../elements/00c22511-c3f5-46d5-beb3-22cb5afe2794.html" target="element"> CPR-opslag og navnesync. </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/52bb83ba-b66e-47f0-8662-fdaabefb306e.html" target="element">  </a> </td>
																		<td> <a href="../elements/52bb83ba-b66e-47f0-8662-fdaabefb306e.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/d9e6c40f-d8be-44b3-ba82-da7560a7449b.html" target="element"> OS2mo (Organisations- komponent) </a> </td>
																		<td> <a href="../elements/36b62727-5b3d-4dca-bbdc-ee584092a15f.html" target="element"> OS2mo GUI </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/9c89fb65-5496-4a27-bcf0-d54b68445ce0.html" target="element">  </a> </td>
																		<td> <a href="../elements/9c89fb65-5496-4a27-bcf0-d54b68445ce0.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/d9e6c40f-d8be-44b3-ba82-da7560a7449b.html" target="element"> OS2mo (Organisations- komponent) </a> </td>
																		<td> <a href="../elements/41a8170f-991f-4ed0-a9f7-4d7b6a2196db.html" target="element"> MO-API </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/47568a72-b134-4cd1-bbe2-a85f8ddc640f.html" target="element">  </a> </td>
																		<td> <a href="../elements/47568a72-b134-4cd1-bbe2-a85f8ddc640f.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/d9e6c40f-d8be-44b3-ba82-da7560a7449b.html" target="element"> OS2mo (Organisations- komponent) </a> </td>
																		<td> <a href="../elements/19643185-517f-419f-b716-9fe6c61b9d4d.html" target="element"> STS Org. sync service </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b8aee353-955f-4581-9908-67fada13d2b0.html" target="element">  </a> </td>
																		<td> <a href="../elements/b8aee353-955f-4581-9908-67fada13d2b0.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/d9e6c40f-d8be-44b3-ba82-da7560a7449b.html" target="element"> OS2mo (Organisations- komponent) </a> </td>
																		<td> <a href="../elements/2139eee8-992b-4768-a393-acba6a4f60bd.html" target="element"> DAR-adresse opslag/sync </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/065a1df6-961a-439a-869a-96081becfe7a.html" target="element">  </a> </td>
																		<td> <a href="../elements/065a1df6-961a-439a-869a-96081becfe7a.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/d9e6c40f-d8be-44b3-ba82-da7560a7449b.html" target="element"> OS2mo (Organisations- komponent) </a> </td>
																		<td> <a href="../elements/0c8434f4-6076-4282-8a65-2c63f36a8a63.html" target="element"> OPUS l&#248;n (L&#198;S) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/e053b62b-f90e-46f1-b830-135762197499.html" target="element">  </a> </td>
																		<td> <a href="../elements/e053b62b-f90e-46f1-b830-135762197499.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/3a1e5697-0884-4595-a2c9-a3abf9d97517.html" target="element"> Kombit </a> </td>
																		<td> <a href="../elements/a15a87b2-7ef1-4947-b63a-d732577584a4.html" target="element"> Kombit Serviceplatform </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/30292628-4a91-42c8-b0d5-ffb5cbd3bf0a.html" target="element">  </a> </td>
																		<td> <a href="../elements/30292628-4a91-42c8-b0d5-ffb5cbd3bf0a.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/3a1e5697-0884-4595-a2c9-a3abf9d97517.html" target="element"> Kombit </a> </td>
																		<td> <a href="../elements/f5a99987-f6f0-4bc8-8d4b-661f07006bfe.html" target="element"> STS Organisation </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/f34dba62-af05-4055-8c33-abcb9c10244f.html" target="element">  </a> </td>
																				<td> <a href="../elements/f34dba62-af05-4055-8c33-abcb9c10244f.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/a15a87b2-7ef1-4947-b63a-d732577584a4.html" target="element"> Kombit Serviceplatform </a> </td>
																				<td> <a href="../elements/8abdd1fb-9994-4eef-bfb3-a9917ad7f479.html" target="element"> CPR-service (SF6004) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/e632274d-7d88-4127-869a-03227b92061b.html" target="element">  </a> </td>
																				<td> <a href="../elements/e632274d-7d88-4127-869a-03227b92061b.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/a15a87b2-7ef1-4947-b63a-d732577584a4.html" target="element"> Kombit Serviceplatform </a> </td>
																				<td> <a href="../elements/c66d3ff2-7141-4393-ba37-aefeac9aaa69.html" target="element"> Addresser (DAR) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/4ff786e7-635d-4459-9156-427221af000e.html" target="element">  </a> </td>
																				<td> <a href="../elements/4ff786e7-635d-4459-9156-427221af000e.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/a15a87b2-7ef1-4947-b63a-d732577584a4.html" target="element"> Kombit Serviceplatform </a> </td>
																				<td> <a href="../elements/3d8ee575-e0d9-46de-b358-c88d8ef35d72.html" target="element"> Organisation service (SF1500) </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/3e10d5e0-4e54-4f9d-93a8-dff15055df73.html" target="element"> CPR-data </a> </td>
																						<td> <a href="../elements/3e10d5e0-4e54-4f9d-93a8-dff15055df73.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																						<td> <a href="../elements/8abdd1fb-9994-4eef-bfb3-a9917ad7f479.html" target="element"> CPR-service (SF6004) </a> </td>
																						<td> <a href="../elements/00c22511-c3f5-46d5-beb3-22cb5afe2794.html" target="element"> CPR-opslag og navnesync. </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/018564f9-2794-4467-9f2c-a48b63983048.html" target="element"> Adresse data </a> </td>
																						<td> <a href="../elements/018564f9-2794-4467-9f2c-a48b63983048.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																						<td> <a href="../elements/c66d3ff2-7141-4393-ba37-aefeac9aaa69.html" target="element"> Addresser (DAR) </a> </td>
																						<td> <a href="../elements/2139eee8-992b-4768-a393-acba6a4f60bd.html" target="element"> DAR-adresse opslag/sync </a> </td>
																					</tr>

													
																			<tr>
																				<td> <a href="../elements/50c72920-9f57-4a9e-b955-82a48dfc308f.html" target="element">  </a> </td>
																				<td> <a href="../elements/50c72920-9f57-4a9e-b955-82a48dfc308f.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/f5a99987-f6f0-4bc8-8d4b-661f07006bfe.html" target="element"> STS Organisation </a> </td>
																				<td> <a href="../elements/3d8ee575-e0d9-46de-b358-c88d8ef35d72.html" target="element"> Organisation service (SF1500) </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/bf6f3af9-16ca-4c63-b5b7-8c02e78b4234.html" target="element">  </a> </td>
																		<td> <a href="../elements/bf6f3af9-16ca-4c63-b5b7-8c02e78b4234.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/4d89a90b-deeb-45a2-80eb-f6f11abcf907.html" target="element"> Silkeborg Data </a> </td>
																		<td> <a href="../elements/2d90c74d-5b75-4938-84a0-722a4772252d.html" target="element"> SD l&#248;n </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/75aa60c8-e469-4324-9775-c9ec17019385.html" target="element">  </a> </td>
																		<td> <a href="../elements/75aa60c8-e469-4324-9775-c9ec17019385.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/4d89a90b-deeb-45a2-80eb-f6f11abcf907.html" target="element"> Silkeborg Data </a> </td>
																		<td> <a href="../elements/8d8b5715-9173-48f1-b422-f4d339afff25.html" target="element"> SD REST WebServices </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d5aba61a-dcaf-473c-9b20-d7bb68292ba1.html" target="element">  </a> </td>
																		<td> <a href="../elements/d5aba61a-dcaf-473c-9b20-d7bb68292ba1.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/4d89a90b-deeb-45a2-80eb-f6f11abcf907.html" target="element"> Silkeborg Data </a> </td>
																		<td> <a href="../elements/7026319e-9553-480e-a5fa-244f23634d04.html" target="element"> SD-MOX service </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/bbfce1a5-a173-45e8-9d2c-e3f0fd6aa7bc.html" target="element">  </a> </td>
																				<td> <a href="../elements/bbfce1a5-a173-45e8-9d2c-e3f0fd6aa7bc.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/2d90c74d-5b75-4938-84a0-722a4772252d.html" target="element"> SD l&#248;n </a> </td>
																				<td> <a href="../elements/8d8b5715-9173-48f1-b422-f4d339afff25.html" target="element"> SD REST WebServices </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/4167a4e3-ace9-469c-b8a2-ba549a69b395.html" target="element">  </a> </td>
																				<td> <a href="../elements/4167a4e3-ace9-469c-b8a2-ba549a69b395.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/2d90c74d-5b75-4938-84a0-722a4772252d.html" target="element"> SD l&#248;n </a> </td>
																				<td> <a href="../elements/7026319e-9553-480e-a5fa-244f23634d04.html" target="element"> SD-MOX service </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/d42b58e3-b4bf-44d9-8d43-1a1b55806e03.html" target="element"> Personer/ans&#230;ttelser + Organisation (valgfri) </a> </td>
																				<td> <a href="../elements/d42b58e3-b4bf-44d9-8d43-1a1b55806e03.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/8d8b5715-9173-48f1-b422-f4d339afff25.html" target="element"> SD REST WebServices </a> </td>
																				<td> <a href="../elements/03b8b139-47e8-47de-b3f8-e29a74717340.html" target="element"> SD integration (L&#198;S) </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/e89f247c-3da7-4e30-a6e5-9735f21a4ef4.html" target="element"> L&#248;norganisation </a> </td>
																		<td> <a href="../elements/e89f247c-3da7-4e30-a6e5-9735f21a4ef4.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/aa2ca36b-7a41-498f-9958-1246999996b6.html" target="element"> SD-MOX integration (skriv) </a> </td>
																		<td> <a href="../elements/7026319e-9553-480e-a5fa-244f23634d04.html" target="element"> SD-MOX service </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/982a57a6-c29d-4f43-8cd3-6e33a2af1bbc.html" target="element"> Powershell og svar </a> </td>
																		<td> <a href="../elements/982a57a6-c29d-4f43-8cd3-6e33a2af1bbc.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/a383c3c7-7eb0-4c4d-af2e-328163bdcd4e.html" target="element"> AD integration </a> </td>
																		<td> <a href="../elements/e54a5e41-8c31-4696-9eaf-d3785b5c0d43.html" target="element"> Windows Remote Mgmt interface (HTTP/5985) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/a8a0a7e7-43bf-424e-8752-55f9ab49298c.html" target="element"> Autoritativ organisation </a> </td>
																		<td> <a href="../elements/a8a0a7e7-43bf-424e-8752-55f9ab49298c.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/19643185-517f-419f-b716-9fe6c61b9d4d.html" target="element"> STS Org. sync service </a> </td>
																		<td> <a href="../elements/3d8ee575-e0d9-46de-b358-c88d8ef35d72.html" target="element"> Organisation service (SF1500) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/9c08ec4c-e20e-4d17-b36d-d7d937fcc025.html" target="element">  </a> </td>
																		<td> <a href="../elements/9c08ec4c-e20e-4d17-b36d-d7d937fcc025.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/95a7e80f-71a9-464e-b964-31242c72a297.html" target="element"> KMD </a> </td>
																		<td> <a href="../elements/0cf858bd-4490-4552-83b2-4cbccbcb4c0d.html" target="element"> KMD OPUS l&#248;n </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/415559e0-1dba-40e3-9140-4af867d802c4.html" target="element">  </a> </td>
																				<td> <a href="../elements/415559e0-1dba-40e3-9140-4af867d802c4.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/0cf858bd-4490-4552-83b2-4cbccbcb4c0d.html" target="element"> KMD OPUS l&#248;n </a> </td>
																				<td> <a href="../elements/0c8434f4-6076-4282-8a65-2c63f36a8a63.html" target="element"> OPUS l&#248;n (L&#198;S) </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>